header {
  margin-bottom: 1rem;
}

h6 {
  text-transform: uppercase;
}

svg {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.pdf-icon {
  margin-left: 0.25rem;
  opacity: 1;
  cursor: pointer;
}
