@import 'mixins';

:host {
  @include flex-container;
  height: 100%;
}

.app {
  @include flex-container;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}