<h6 class="dg-section-header">Experience</h6>

<ng-template ngFor let-experience [ngForOf]="experience">
  <div class="company-block">
    <h6>
      {{ experience.role }}
      <span class="company-name">/ {{ experience.companyName }}</span>
    </h6>
    <span class="work-dates">{{ experience.from }} - {{ experience.to }}</span>
    <ng-template [ngIf]="experience.accomplishments?.length">
      <h6 class="section-title">Accomplishments</h6>
    </ng-template>
    <ul class="accomplishments-list">
      <ng-template
        ngFor
        let-accomplishment
        [ngForOf]="experience.accomplishments"
      >
        <li>{{ accomplishment }}</li>
      </ng-template>
    </ul>

    <h6 class="section-title">Responsibilities</h6>
    <ul>
      <ng-template
        ngFor
        let-responsibility
        [ngForOf]="experience.responsibilities"
      >
        <li>{{ responsibility }}</li>
      </ng-template>
    </ul>
  </div>
</ng-template>
