.company-block {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.position, .work-dates {
  color: var(--dg-secondary);
}

.position {
  font-weight: normal;
}

.work-dates {
  font-size: 0.875rem;
}
