@import 'variables';

:host {
  h1,
  .position {
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .position {
    color: $shakespeare;
    font-size: 14px;
    font-weight: 600;
  }

  .description {
    margin: 12px 0;
    color: $silver-chalice;
    font-size: 14px;
  }
}
