<dg-cv-header (generatePdf)="onGeneratePdf()"></dg-cv-header>
<hr />
<dg-cv-summary></dg-cv-summary>
<hr />

<div
  class="main-content"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="2rem"
>
  <dg-cv-skills fxFlex="30%" [skills]="skills$ | async"></dg-cv-skills>
  <hr />
  <div fxLayout="column" fxLayoutGap="1rem">
    <dg-cv-experience [experience]="experience$ | async"></dg-cv-experience>
    <hr />
    <dg-cv-education [education]="education$ | async"></dg-cv-education>
  </div>
</div>
